In [1]:
#Import Necessary Modules
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import json

In [2]:
source = requests.get('https://www.btk.gov.tr/yillik-il-istatistikleri')

In [3]:
soup = BeautifulSoup(source.text, 'lxml')

In [4]:
files = soup.find_all(name='div', attrs={'class':'SmTqk'})[0]

In [5]:
links = {}
for a in files.find_all(name='a'):
    link = a['href']
    if link.endswith('.xlsx'):
        links[a.text] = link

In [6]:
links

{'2016 - 2021': 'https://www.btk.gov.tr/uploads/pages/yillik-il-istatistikleri/il-bazinda-yillik-istatistik-bulteni-v1.xlsx',
 '2015 - 2020': 'https://www.btk.gov.tr/uploads/pages/yillik-il-istatistikleri/elektronik-haberlesme-sektorune-iliskin-il-bazinda-yillik-istatistik-bulteni.xlsx',
 '2014 - 2019': 'https://www.btk.gov.tr/uploads/pages/yillik-il-istatistikleri/il-bazinda-yillik-istatistik-bulteni-20-05-2020.xlsx',
 '2013 - 2018': 'https://www.btk.gov.tr/uploads/pages/yillik-il-istatistikleri/il-bazinda-yillik-istatistik-bulteni1.xlsx',
 '2012 - 2017': 'https://www.btk.gov.tr/uploads/pages/yillik-il-istatistikleri/il-bazinda-yillik-istatistik-bulteni.xlsx',
 '2011 - 2016': 'https://www.btk.gov.tr/uploads/pages/slug/ehsyib-2011-2016-5a3a48147c468.xlsx',
 '2010 - 2015': 'https://www.btk.gov.tr/uploads/pages/slug/ehsyib-2010-2015.xlsx',
 '2009 - 2014': 'https://www.btk.gov.tr/uploads/pages/slug/ehsyib-2009-2014.xlsx',
 '2008 - 2013': 'https://www.btk.gov.tr/uploads/pages/slug/ehsyib-2008-2013.xlsx',
 '2007 - 2012': 'https://www.btk.gov.tr/uploads/pages/slug/ehsyib-2007-2012.xlsx'}

In [7]:
def get_dataframe(link):
    data = pd.read_excel(link, sheet_name='İl Bazlı Veri')
    data = data.iloc[2:,:]
    data['detail'] = data.iloc[:,1].fillna('') + data.iloc[:,2].fillna('')
    data['city'] = data.iloc[:,0]
    data = data.iloc[:,3:]
    data['city'] = data['city'].fillna(method='ffill')
    data.dropna(subset=[x for x in data.columns if str(x) not in ['city','detail']], axis=0, inplace=True)
    data['detail'] = data['detail'].str.strip(r'[()]')
    return data[data.columns[::-1]].reset_index(drop=True)[:-1]

In [37]:
df = pd.DataFrame()
for key, link in links.items():
    print(key)
    data = get_dataframe(link)
    if df.shape[0] == 0:
        df = data
    else:
        cols_to_use = data.columns.difference(df.columns[2:])
        df = df.merge(data[cols_to_use], how='outer', on=['city', 'detail'])

2016 - 2021
2015 - 2020
2014 - 2019
2013 - 2018
2012 - 2017
2011 - 2016
2010 - 2015
2009 - 2014
2008 - 2013
2007 - 2012

In [45]:
df.sort_values(by='city', inplace=True)
df.reset_index(drop=True, inplace=True)

In [58]:
df = df.melt(id_vars=['city','detail'], var_name=['year'], value_name='value')

In [82]:
df = df.pivot(index=['city','year'], columns='detail').reset_index()

In [88]:
df.columns = df.columns[:2].get_level_values(0).tolist() + df.columns[2:].get_level_values(1).tolist()

In [91]:
df.columns = [col.lower() for col in df.columns]

In [92]:
df.head()

,city,year,cable,fiber,mobile broadband dedicated,number of broadband subscriptions - total,number of cable tv subscriptions,number of fixed broadband subscriptions - total,number of fixed telephony access lines,number of mobile broadband subscriptions - total,...,number of mobile telephony subscriptions - 2g,number of mobile telephony subscriptions - 3g,number of mobile telephony subscriptions - total,number of payhones,other,population,santral capacity for fixed telephony,standard mobile broadband,the length of fiber-km,xdsl
0,ADANA,2007,NaN,NaN,NaN,NaN,41115,NaN,402348,NaN,...,NaN,NaN,1759062,2022,NaN,2006650,523425,NaN,NaN,NaN
1,ADANA,2008,NaN,NaN,NaN,NaN,40400,NaN,369043,NaN,...,NaN,NaN,1889383,1986,NaN,2026319,534366,NaN,NaN,NaN
2,ADANA,2009,NaN,NaN,NaN,NaN,43826,NaN,332356,NaN,...,NaN,NaN,1768410,1912,NaN,2062226,525061,NaN,NaN,NaN
3,ADANA,2010,NaN,NaN,NaN,NaN,51835,NaN,310454,NaN,...,1172924,542370,1715294,1877,NaN,2085225,529486,NaN,NaN,NaN
4,ADANA,2011,30406,21286,29052,561382.40352,57089,167692.40352,270622,393690,...,983747,NaN,1830386,1786,126.40352,2108805,596315,364638,NaN,115874

In [93]:
df.to_csv('final_merged.csv', encoding='utf-8-sig')

In [2]:
df = pd.read_csv('final_merged.csv')

In [5]:
df.dtypes

Unnamed: 0                                             int64
city                                                  object
year                                                   int64
cable                                                float64
fiber                                                float64
mobile broadband dedicated                           float64
number of broadband subscriptions - total            float64
number of cable tv subscriptions                     float64
number of fixed broadband subscriptions - total      float64
number of fixed telephony access lines               float64
number of mobile broadband subscriptions - total     float64
number of mobile telephony subscriptions  3g+4.5g    float64
number of mobile telephony subscriptions - 2g        float64
number of mobile telephony subscriptions - 3g        float64
number of mobile telephony subscriptions - total     float64
number of payhones                                   float64
other                                                float64
population                                           float64
santral capacity for fixed telephony                 float64
standard mobile broadband                            float64
the length of fiber-km                               float64
xdsl                                                 float64
dtype: object

In [6]:
df.to_csv('final_merged.csv', encoding='utf-8-sig')

In [7]:
df[df['city']=='ADANA']

,Unnamed: 0,city,year,cable,fiber,mobile broadband dedicated,number of broadband subscriptions - total,number of cable tv subscriptions,number of fixed broadband subscriptions - total,number of fixed telephony access lines,...,number of mobile telephony subscriptions - 2g,number of mobile telephony subscriptions - 3g,number of mobile telephony subscriptions - total,number of payhones,other,population,santral capacity for fixed telephony,standard mobile broadband,the length of fiber-km,xdsl
0,0,ADANA,2007,NaN,NaN,NaN,NaN,41115.0,NaN,402348.000000,...,NaN,NaN,1759062.0,2022.0,NaN,2006650.0,523425.0,NaN,NaN,NaN
1,1,ADANA,2008,NaN,NaN,NaN,NaN,40400.0,NaN,369043.000000,...,NaN,NaN,1889383.0,1986.0,NaN,2026319.0,534366.0,NaN,NaN,NaN
2,2,ADANA,2009,NaN,NaN,NaN,NaN,43826.0,NaN,332356.000000,...,NaN,NaN,1768410.0,1912.0,NaN,2062226.0,525061.0,NaN,NaN,NaN
3,3,ADANA,2010,NaN,NaN,NaN,NaN,51835.0,NaN,310454.000000,...,1172924.0,542370.0,1715294.0,1877.0,NaN,2085225.0,529486.0,NaN,NaN,NaN
4,4,ADANA,2011,30406.0,21286.0,29052.0,5.613824e+05,57089.0,167692.40352,270622.000000,...,983747.0,NaN,1830386.0,1786.0,126.40352,2108805.0,596315.0,364638.0,NaN,115874.0
5,5,ADANA,2012,29739.0,33984.0,33939.0,6.884280e+05,54652.0,184278.00000,223992.000000,...,755860.0,NaN,1887012.0,1705.0,149.00000,2125635.0,642813.0,470211.0,5205.677000,120406.0
6,6,ADANA,2013,25015.0,44191.0,34120.0,8.182370e+05,48198.0,196773.00000,244392.000000,...,604306.0,NaN,1950911.0,1516.0,208.00000,2149260.0,653019.0,587344.0,5760.442000,127359.0
7,7,ADANA,2014,27355.0,51347.0,26638.0,1.083065e+06,47642.0,210073.00000,217236.000000,...,365313.0,NaN,2002073.0,1379.0,219.00000,2165595.0,470088.0,846354.0,6339.615000,131152.0
8,8,ADANA,2015,30139.0,58766.0,29738.0,1.280605e+06,46546.0,225798.00000,191438.960774,...,421704.0,NaN,2032485.0,1275.0,221.00000,2183167.0,452914.0,1025069.0,6887.924892,136672.0
9,9,ADANA,2016,35442.0,66005.0,24895.0,1.703083e+06,48102.0,251442.00000,185835.000000,...,109352.0,NaN,2075830.0,1187.0,653.00000,2201670.0,335232.0,1426746.0,6929.766899,149342.0
10,10,ADANA,2017,38910.0,74752.0,17846.0,1.900719e+06,49167.0,290043.00000,193216.000000,...,67833.0,NaN,2172546.0,1132.0,2031.00000,2216475.0,332966.0,1592830.0,7528.656402,174350.0
11,11,ADANA,2018,40787.0,84086.0,13259.0,2.019748e+06,48610.0,324919.00000,203866.000000,...,49769.0,NaN,2204689.0,1147.0,4710.00000,2220125.0,327020.0,1681570.0,8234.799759,195336.0
12,12,ADANA,2019,43566.0,93799.0,15482.0,2.026852e+06,47777.0,342019.00000,199254.000000,...,33699.0,NaN,2116764.0,1087.0,5802.00000,2237940.0,333899.0,1669351.0,9113.955418,198852.0
13,13,ADANA,2020,49578.0,114239.0,7953.0,2.195181e+06,49956.0,401059.00000,223405.000000,...,31353.0,NaN,2154007.0,1036.0,5327.00000,2258718.0,350048.0,1786169.0,9733.838064,231915.0
14,14,ADANA,2021,49743.0,132074.0,7546.0,2.410202e+06,48768.0,439737.00000,223688.000000,...,34118.0,NaN,2264528.0,1018.0,10321.00000,2263373.0,355958.0,1962919.0,10458.659817,247599.0